modules = ["nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_11"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 7576
externalPort = 3000

[[ports]]
localPort = 7577
externalPort = 3001

[[ports]]
localPort = 3000
externalPort = 80

[gitHubImport]
requiredFiles = [".replit"]
